@import 'theme.scss';
@import 'variables.scss';

.smart-duck-container {
  @include flexbox(column, 2rem);
  height: 100vh;
  width: 100%;

  .welcome-message,
  .begin-learning-message {
    color: $white;
  }

  .welcome-message {
    font-size: $big-font-size;
    font-weight: 800;
  }

  .begin-learning-message {
    font-size: $small-medium-font-size;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .image-container {
    @include flexbox(column, 2rem);
    .duck-image {
      width: 100%;
      height: 100%;
      cursor: pointer;

      &:hover {
        transform: translateY(8px);
      }
    }

    .arrow-image {
      width: 20%;
      height: 10%;
      animation: moveUpDown 0.8s ease-in-out infinite;
    }
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}
